/* Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --transparent-color: rgba(15, 116, 143, 0.5);
  --main-trans: 0.3s;
  --main-sec-padding: 100px 0;
  --alt-sec-background: #ececec;
}
/* Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start main Title */
.main-title {
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  width: fit-content;
  position: relative;
  transition: var(--main-trans);
  text-transform: uppercase;
}
.main-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.5s;
  z-index: 1;
}
.main-title:hover::before {
  animation-name: move-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  z-index: -1;
}
.main-title:hover::after {
  animation-name: move-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  z-index: -1;
}
/* End main Title */
/* End Global Rules */

/* Start Header */
.header {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .header .container {
    flex-direction: column;
  }
}
.header .container > img {
  height: 100px;
}
@media (max-width: 767px) {
  .header .container > img {
    height: 50px;
  }
}
.header .container .main-nav {
  display: flex;
}
.header .container .main-nav > li > a {
  position: relative;
  color: black;
  padding: 0 30px;
  font-size: 18px;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  transition: var(--main-trans);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .container .main-nav > li > a {
    height: 50px;
    padding: 0 15px;
    font-size: 14px;
  }
}
.header .container .main-nav > li > a::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-trans);
}
.header .container .main-nav > li > a:hover {
  background-color: #f2f2f2;
  color: var(--main-color);
}
.header .container .main-nav > li:hover .megamenu {
  top: calc(100% + 1px);
  opacity: 1;
  z-index: 5;
}
.header .container .main-nav > li > a:hover::before {
  left: 0;
}
/* Start Mega-Menu */
.header .megamenu {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--main-color);
  background-color: white;
  gap: 40px;
  padding: 30px;
  top: calc(100% + 50px);
  z-index: -1;
  opacity: 0;
  transition: var(--main-trans);
}
@media (max-width: 767px) {
  .header .megamenu {
    flex-direction: column;
    gap: 0;
  }
}
.header .megamenu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .megamenu .image {
    display: none;
  }
}
.header .megamenu .links {
  min-width: 240px;
  flex: 1;
}
.header .megamenu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .megamenu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .megamenu .links li a {
  display: block;
  padding: 15px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
@media (max-width: 767px) {
  .header .megamenu .links li a {
    padding: 10px;
    font-size: 14px;
  }
}
.header .megamenu .links li a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #f6f6f6;
  left: 0;
  top: 0;
  z-index: -1;
  transition: var(--main-trans);
}
.header .megamenu .links li a:hover::before {
  width: 100%;
}
.header .megamenu .links li a i {
  margin-right: 10px;
}
/* End Mega-Menu */

/* End Header */

/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #ececec;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skewY(-6deg);
}
.landing .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: calc(100vh - 100px);
  padding-bottom: 100px;
  position: relative;
}
.landing .text {
  flex-basis: 40%;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
    flex-basis: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}
.landing .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
}
.landing .text span {
  /* font-family: 'Dancing Script', cursive; */
  font-family: "Pacifico", cursive;
  color: var(--main-color);
  font-style: italic;
  display: block;
  text-align: right;
  letter-spacing: 0px;
}
.landing .text p {
  color: #777;
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px 0;
  }
  .landing .text span {
    display: inline;
  }
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image {
  width: 600px;
  flex-basis: 60%;
  animation-name: up-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .image img {
  max-width: 100%;
}
.landing .go-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  color: var(--main-color);
  animation-name: bounce;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}
@media (max-width: 767px) {
  .landing .go-down i {
    font-size: 20px;
  }
}
/* End Landing */

/* Start Articles */
.articles {
  padding: var(--main-sec-padding);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
}
.articles .box {
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  overflow: hidden;
  transition: var(--main-trans);
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}
.articles .box .image {
}
.articles .box .image img {
  max-width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
}
.articles .box .content p {
  padding: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.articles .box .info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #e6e6e7;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation-name: mov-arrow;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/* End Articles */

/* Start Gallery */
.gallery {
  padding: var(--main-sec-padding);
  position: relative;
  background-color: var(--alt-sec-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.gallery .box .image::before {
  content: "";
  position: absolute;
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation-name: flash;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}
.gallery .box .image img {
  max-width: 100%;
  transition: var(--main-trans);
}
.gallery .box .image:hover img {
  transform: rotate(6deg) scale(1.1);
}
/* End Gallery */

/* Start Features */
.features {
  padding: var(--main-sec-padding);
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.features .feat {
  overflow: hidden;
  border: 1px solid #ccc;
  text-align: center;
}
.features .quality .image {
  min-width: 300px;
  min-height: 400px;
  background: rgba(244, 64, 54, 0.5) url(../images/features-01.jpg);
  background-blend-mode: darken;
  background-size: cover;
  position: relative;
}
.features .time .image {
  min-width: 300px;
  min-height: 400px;
  background: rgba(0, 150, 136, 0.5) url(../images/features-02.jpg);
  background-blend-mode: darken;
  background-size: cover;
  position: relative;
}
.features .passion .image {
  min-width: 300px;
  min-height: 400px;
  background: rgba(3, 169, 244, 0.5) url(../images/features-03.jpg);
  background-blend-mode: darken;
  background-size: cover;
  position: relative;
}
.features .feat .image::after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 100px 100px 200px 1000px;
  border-color: transparent transparent white transparent;
  bottom: 0;
  left: -310px;
  transition: var(--main-trans);
}
.features .feat:hover .image::after {
  border-width: 100px 1000px 200px 100px;
}
.features .feat h3 {
  position: relative;
  font-size: 40px;
  margin: 30px auto;
  width: fit-content;
}
@media (max-width: 767px) {
  .features .feat h3 {
    font-size: 30px;
    margin: 10px auto;
  }
}
.features .feat h3::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  bottom: -20px;
}
@media (max-width: 767px) {
  .features .feat h3::after {
    bottom: -10px;
  }
}
.features .quality h3::after {
  background-color: rgb(244, 64, 54);
}
.features .time h3::after {
  background-color: rgb(0, 150, 136);
}
.features .passion h3::after {
  background-color: rgb(3, 169, 244);
}
.features .feat p {
  font-size: 20px;
  line-height: 2;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
@media (max-width: 767px) {
  .features .feat p {
    font-size: 14px;
    line-height: 1.8;
    margin: 10px 0;
    padding: 10px;
  }
}
.features .feat a {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 30px;
  display: block;
  border: 3px solid black;
  width: fit-content;
  margin: 0 auto 20px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: var(--main-trans);
}
@media (max-width: 767px) {
  .features .feat a {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 auto 10px;
  }
}
.features .quality a {
  color: rgb(244, 64, 54);
  border-color: rgb(244, 64, 54);
}
.features .time a {
  color: rgb(0, 150, 136);
  border-color: rgb(0, 150, 136);
}
.features .passion a {
  color: rgb(3, 169, 244);
  border-color: rgb(3, 169, 244);
}
.features .feat:hover a {
  color: white;
  z-index: 1;
}
.features .feat a::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 200%;
  background-color: red;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-trans);
}
.features .quality a::before {
  background-color: rgb(244, 64, 54);
}
.features .time a::before {
  background-color: rgb(0, 150, 136);
}
.features .passion a::before {
  background-color: rgb(3, 169, 244);
}
.features .feat:hover a::before {
  width: 100%;
  z-index: -1;
}
/* End Features */

/* Start Testimonials */
.testimonials {
  padding: var(--main-sec-padding);
  background-color: var(--alt-sec-background);
  position: relative;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 60px 40px;
}
.testimonials .test {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}
.testimonials .test img {
  width: 100px;
  position: absolute;
  top: -50px;
  right: -20px;
  border-radius: 50%;
  border: 10px solid var(--alt-sec-background);
}
.testimonials .test h3 {
  margin-bottom: 15px;
}
.testimonials .test h4 {
  margin-bottom: 15px;
  color: #777;
}
.testimonials .test .filled {
  color: #ffc107;
}
.testimonials .test p {
  margin: 15px 0;
  line-height: 1.5;
  color: #555;
}
/* End Testimonials */

/* Start Team Members */
.teammembers {
  padding: var(--main-sec-padding);
  background-color: white;
  position: relative;
}
.teammembers .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px 80px;
}
.teammembers .box {
  position: relative;
  z-index: 3;
}
.teammembers .box::before {
  position: absolute;
  content: "";
  width: calc(100% - 60px);
  height: 100%;
  background-color: #f3f3f3;
  z-index: -2;
  right: 0;
  top: 0;
  border-radius: 10px;
}
.teammembers .box::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: #e4e4e4;
  z-index: -1;
  right: 0;
  top: 0;
  border-radius: 10px;
  transition: var(--main-trans);
}
.teammembers .box:hover::after {
  width: calc(100% - 60px);
}
.teammembers .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.teammembers .box .data img {
  max-width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-trans);
}
.teammembers .box:hover .data img {
  filter: grayscale(100%);
}
.teammembers .box .data .soical {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.teammembers .box .data .soical i {
  margin: 20px 0;
  color: #777;
}
.teammembers .box .data .soical i:hover {
  color: var(--main-color);
}
.teammembers .box .info {
  margin-left: 60px;
  padding: 20px;
}
.teammembers .box .info h3 {
  font-size: 22px;
  color: var(--main-color);
  transition: var(--main-trans);
}
.teammembers .box:hover .info h3 {
  filter: grayscale(100%);
}
.teammembers .box .info p {
  margin-top: 10px;
}
/* End Team Members */

/* Start Services */
.services {
  padding: var(--main-sec-padding);
  background-color: var(--alt-sec-background);
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.services .box {
  background-color: white;
  text-align: center;
  padding: 30px 0 0;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  transition: var(--main-trans);
  counter-increment: services;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: -3px;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-trans);
}
.services .box:hover::before {
  width: 100%;
}
.services .box i {
  color: #d5d5d5;
}
.services .box h3 {
  color: var(--main-color);
  font-size: 25px;
  margin: 20px 0 40px;
}
.services .box .info {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: right;
  position: relative;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  width: 80px;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  height: 100.4%;
  width: 80px;
  left: 78px;
  top: 50%;
  transform: translateY(-50%) skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color);
}
/* End Services */

/* Start Our-Skills */
.skills {
  padding: var(--main-sec-padding);
  background-color: white;
  position: relative;
}
.skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .skills .container img {
    display: none;
  }
}
.skills .box {
  flex: 1;
}
.skills .skill {
  margin-bottom: 20px;
}
.skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  color: var(--main-color);
  border-radius: 6px;
}
.skills .skill .progress {
  background-color: #eee;
  height: 30px;
  margin-top: 10px;
  position: relative;
}
.skills .skill .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
}
/* End Our-Skills */

/* Start work-steps */
.work-steps {
  padding: var(--main-sec-padding);
  background-color: var(--alt-sec-background);
  position: relative;
}
.work-steps .container {
  display: flex;
  gap: 40px;
}
@media (max-width: 991px) {
  .work-steps .container > img {
    display: none;
  }
}
.work-steps .box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.work-steps .step {
  background-color: #f6f5f5;
  padding: 20px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  border: 2px solid white;
}
.work-steps .step::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: var(--main-trans);
  z-index: -1;
  border-radius: 10px;
}
.work-steps .step:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .step img {
  width: 50px;
}
.work-steps .step .info {
}
.work-steps .step .info h3 {
  font-size: 22px;
}
.work-steps .step .info p {
  color: #777;
  line-height: 1.7;
  margin-top: 10px;
}
/* End work-steps */

/* Start Latest Events */
.events {
  padding: var(--main-sec-padding);
  position: relative;
}
.events .container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.events .container > img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .events .container > img {
    display: none;
  }
}
.events .info {
  flex: 1;
}
.events .info .time {
  display: flex;
  margin: 20px auto;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.events .info .time .unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  transition: var(--main-trans);
}
.events .info .time .unit:hover {
  border-color: var(--main-color);
}
.events .info .time .unit span:first-child {
  font-size: 40px;
  font-weight: bold;
  color: var(--main-color);
  border-bottom: 1px solid #d4d4d4;
  padding: 20px;
  transition: var(--main-trans);
}
.events .info .time .unit:hover span:first-child {
  border-bottom-color: var(--main-color);
}

.events .info .time .unit span:last-child {
  font-size: 12px;
  padding: 10px;
}
.events .info h3 {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
.events .info p {
  margin: 20px 0;
  padding: 0 20px;
  line-height: 1.7;
  color: #777;
  font-size: 19px;
}
@media (max-width: 767px) {
  .events .info p {
    text-align: center;
  }
}
.events .subscribe {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 40px;
  margin: 20px auto;
  background-color: #f6f5f5;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .events .subscribe {
    flex-direction: column;
    border-radius: 0;
    gap: 30px;
    padding: 20px;
    width: 100%;
  }
}
.events .subscribe input[type="email"] {
  flex: 1;
  padding: 20px;
  border: none;
  border-radius: 50px;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .events .subscribe input[type="email"] {
    width: 100%;
  }
}
.events .subscribe input[type="email"]:focus {
  outline: none;
}
.events .subscribe input[type="email"]::placeholder {
  transition: var(--main-trans);
}
.events .subscribe input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .subscribe input[type="submit"] {
  padding: 20px 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  transition: var(--main-trans);
}
@media (max-width: 767px) {
  .events .subscribe input[type="submit"] {
  }
}
.events .subscribe input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End Latest Events */

/* Start Pricing Plans */
.pricing {
  padding: var(--main-sec-padding);
  background-color: var(--alt-sec-background);
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}
.pricing .plan {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.pricing .plan::before {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  left: 0;
  top: 0;
  z-index: -1;
  transition: var(--main-trans);
}
.pricing .plan::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: var(--main-trans);
}
.pricing .plan:hover::before,
.pricing .plan:hover::after {
  width: 100%;
}
.pricing .plan h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.pricing .plan > img {
  width: 100px;
  margin-bottom: 30px;
}
.pricing .plan > p {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 30px;
}
.pricing .plan > p span {
  font-size: 16px;
  display: block;
  text-align: center;
  color: #777;
  font-weight: normal;
}
.pricing .plan .data {
  width: 100%;
  margin: 0 0 30px;
}
.pricing .plan .data li {
  padding: 20px 0 20px 30px;
  position: relative;
  border-top: 1px solid #eee;
}
.pricing .plan .data li::before {
  content: "\f00c";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  left: 0;
  padding-right: 10px;
  color: var(--main-color);
}
.pricing .plan a {
  color: var(--main-color);
  font-weight: bold;
  padding: 15px 20px;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  margin: 30px auto 40px;
  transition: var(--main-trans);
}
.pricing .plan a:hover {
  color: white;
  background-color: var(--main-color);
}

.pricing .advanced {
  position: relative;
  transform: translateY(-30px);
}
.pricing .advanced .label {
  position: absolute;
  width: 40px;
  height: 25%;
  background-color: var(--main-color);
  top: 0;
  right: 20px;
  color: white;
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.pricing .advanced .label::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  /* border: 10px solid; */
  border-style: solid;
  border-color: rgb(0 0 0 / 0%) rgb(0 0 0 / 0%) white rgb(0 0 0 / 0%);
  border-width: 40px;
}
.pricing .advanced .label > p {
  font-size: 18px;
  font-weight: bold;
}
/* End Pricing Plans */

/* Start Top Videos */
.videos {
  padding: var(--main-sec-padding);
  background-color: white;
  position: relative;
}
.videos .data {
  display: flex;
  background-color: var(--alt-sec-background);
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .videos .data {
    flex-direction: column;
  }
}
.videos .text {
  background-color: white;
  border-right: 1px solid #ddd;
  min-width: 300px;
}
.videos .text li:first-child {
  position: relative;
  padding: 20px;
  background-color: var(--alt-sec-background);
  font-weight: bold;
}
.videos .text li:first-child::after {
  content: "\f074";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 20px;
}
.videos .text li:not(:first-child) {
  padding: 20px;
  border-top: 1px solid #ddd;
  transition: var(--main-trans);
}
.videos .text li:not(:first-child):hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .text li:not(:first-child):hover span {
  color: #777;
}
.videos .text li span {
  display: block;
  padding-top: 5px;
  color: #777;
}
.videos .image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.videos .image > img {
  max-width: 100%;
}
.videos .image > p {
  padding: 20px;
  background-color: white;
  width: 100%;
  margin-top: 20px;
}
/* End Top Videos */

/* Start stats */
.stats {
  padding: var(--main-sec-padding);
  background: url(../images/stats.jpg) rgba(255, 255, 255, 0.95);
  background-blend-mode: soft-light;
  position: relative;
  background-size: cover;
}
@media (max-width: 767px) {
  .stats {
    padding: 50px 0;
  }
}
.stats .data {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
}
@media (max-width: 767px) {
  .stats .data {
    grid-gap: 20px;
  }
}
.stats .stat {
  position: relative;
  background-color: white;
  text-align: center;
  padding: 30px 0;
  opacity: 0.7;
  transition: var(--main-trans);
}
.stats .stat:hover {
  opacity: 1;
}
.stats .stat::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transition: 0.5s;
}
.stats .stat::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.stats .stat:hover::before,
.stats .stat:hover::after {
  height: 100%;
}
.stats .stat span:first-of-type {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}
.stats .stat span:last-of-type {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
}
/* End stats */

/* Start Discount */
.discount {
  background-color: white;
  position: relative;
}
.discount .data {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
@media (max-width: 991px) {
  .discount .data {
    flex-direction: column;
  }
}
.discount .info {
  /* background: url(../images/discount-background.jpg); */
  background-size: cover;
  position: relative;
  z-index: 1;
  flex-basis: 50%;
  color: white;
  text-align: center;
  padding: 20px;
  animation-name: change-img;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.discount .info::before {
  content: "";
  position: absolute;
  background-color: rgba(23, 135, 224, 0.97);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.discount .info > h3 {
  margin: 50px 0 30px;
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .info > p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
  margin: 0 auto 30px;
}
@media (max-width: 991px) {
  .discount .info > p {
    text-align: center;
  }
}
.discount .info > img {
  width: 300px;
  max-width: 100%;
}
.discount .request {
  flex-basis: 50%;
  padding: 20px;
  text-align: center;
}
.discount .request > h3 {
  margin: 50px 0 30px;
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .request .req-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discount .request .req-form .main-input {
  border: none;
  border-bottom: 1px solid #cdcdcd;
  background-color: #f6f5f5;
  margin-bottom: 30px;
  padding: 20px;
  width: 70%;
  caret-color: var(--main-color);
  transition: var(--main-trans);
}
.discount .request .req-form .main-input:focus {
  outline: none;
}
.discount .request .req-form .main-input::placeholder {
  transition: var(--main-trans);
}
.discount .request .req-form .main-input:focus::placeholder {
  opacity: 0;
}
.discount .request .req-form textarea.main-input {
  height: 200px;
}
.discount .request .req-form input[type="submit"] {
  border: none;
  background-color: var(--main-color);
  padding: 20px 30px;
  width: 70%;
  font-size: 22px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: var(--main-trans);
}
.discount .request .req-form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End Discount */

/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
  padding-bottom: 60px;
}
.footer .box-id > img {
  width: 120px;
}
.footer .box-id ul {
  display: flex;
  gap: 20px;
}
.footer .box-id ul li {
  padding: 10px 15px;
  background-color: #313131;
  margin-bottom: 20px;
  transition: var(--main-trans);
}
.footer .box-id ul li:nth-of-type(1):hover {
  background-color: var(--main-color-alt);
}
.footer .box-id ul li:nth-of-type(2):hover {
  background-color: var(--main-color);
}
.footer .box-id ul li:nth-of-type(3):hover {
  background-color: #3b82f680;
}
.footer .box-id ul li:nth-of-type(4):hover {
  background-color: red;
}
.footer .box-id ul li a {
  color: #b9b9b9;
}

.footer .box-id > p {
  color: #b9b9b9;
  line-height: 1.6;
}
.footer .box-a {
  display: flex;
  flex-direction: column;
}
.footer .box-a a {
  color: #b9b9b9;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #444;
  position: relative;
  transition: var(--main-trans);
}
.footer .box-a a:hover {
  transform: translateX(10px);
  color: white;
}
.footer .box-a a:last-child {
  border: none;
}
.footer .box-a a::before {
  content: "\f101";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  position: relative;
  color: var(--main-color);
}
.footer .box-connect {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #b9b9b9;
}
.footer .box-connect p {
  line-height: 1.6;
  color: #b9b9b9;
  position: relative;
  padding-left: 40px;
}
.footer .box-connect p span {
  display: block;
}
.footer .box-connect .location::before {
  position: absolute;
  content: "\f3c5";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  color: var(--main-color);
  font-size: 30px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer .box-connect .time::before {
  position: absolute;
  content: "\f017";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  color: var(--main-color);
  font-size: 30px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer .box-connect .tel::before {
  position: absolute;
  content: "\f2a0";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  color: var(--main-color);
  font-size: 30px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer .box-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  align-items: center;
  align-content: flex-start;
  justify-items: stretch;
}
.footer .box-gallery img {
  max-width: calc(100% - 3px);
  max-height: calc(100% - 3px);
  border: 3px solid white;
}
.footer .copyright p {
  text-align: center;
  padding: 20px 0 30px;
  color: white;
  border-top: 1px solid #444;
}
.footer .copyright p span {
  font-family: "Pacifico", cursive;
  color: var(--main-color);
  font-style: italic;
  letter-spacing: 0px;
}
/* End Footer */

/* Start Animation */
@keyframes up-down {
  to {
    transform: translateY(-50px);
  }
}
/* @keyframes bounce {
  0, 10%, 20%, 30%, 50%, 70%, 100%{
    transform: translateY(0);
  }
  40%, 60%{
    transform: translateY(-20px);
  }
} */
@keyframes bounce {
  to {
    transform: translateY(-30px);
  }
}
@keyframes move-right {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 60%;
    height: 100%;
  }
}
@keyframes move-left {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 60%;
    height: 100%;
  }
}
@keyframes mov-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes change-img {
  0%,
  100% {
    background: url(../images/discount-background.jpg);
  }
  50% {
    background: url(../images/discount-background-1.jpg);
  }
}
/* End Animation */
